:root {
  --primary-color: #2196f3;
  --text-color-1: #212121;
  --text-color-2: #757575;
  --bg-color-1: #e5e5e5;
  --bg-color-2: #2f303a;
  --font-w-700: 700;
  --font-w-500: 500;
  --font-w-900: 900;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.section-title {
  text-align: center;
  color: var(--text-color-1);
}

.hidden {
  display: none;
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-w-700);
  font-size: 26px;
  color: var(--text-color);
  letter-spacing: 0.03em;
  margin-right: 65px;
}

.logo span {
  color: var(--primary-color);
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 0 25px;
}

.nav-link {
  color: var(--text-color-1);
  font-weight: var(--font-w-500);
  transition: color 0.3s ease;
}

.nav-link.active {
  color: var(--primary-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary-color);
}

.contacts-list {
  display: flex;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  color: var(--text-color-2);
  letter-spacing: 0.02em;
  transition: color 0.3s ease;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--primary-color);
}

.portfolio {
  padding: 100px 0 60px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: var(--text-color-1);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-weight: var(--font-w-500);
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn.active {
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.portfolio-item {
  border: 1px solid #eee;
  margin-bottom: 30px;
}

.portfolio-item-description {
  padding: 20px 24px;
}

.portfolio-item-title {
  color: var(--text-color-1);
  font-size: 18px;
  line-height: 2;
  font-weight: var(--font-w-700);
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}

.footer {
  padding: 60px 0;
  background-color: var(--bg-color-2);
}

.footer .logo {
  color: #fff;
  margin-bottom: 20px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
  transition: color 0.3s ease;
}

.address-link:hover,
.address-link:focus {
  color: #fff;
}

.hero {
  background-color: #2f303a;
  height: 600px;
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}

.hero-title {
  max-width: 700px;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: var(--font-w-900);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 16px;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.9;
  font-weight: 700;
  cursor: pointer;
}

.benefits {
  padding: 94px 0;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-item {
  max-width: 270px;
}

.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--text-color-1);
  font-size: 14px;
  font-weight: var(--font-w-700);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.benefits-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}

.section-title {
  color: var(--text-color-1);
  font-weight: var(--font-w-700);
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto 50px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work {
  padding-bottom: 94px;
}

.work-item {
  max-width: 370px;
}

.team {
  padding: 94px 0;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.team-item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-info {
  padding: 30px 15px;
}

.team-item-title {
  font-size: 16px;
  font-weight: var(--font-w-500);
  color: var(--text-color-1);
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-item-text {
  font-size: 16px;
  color: #757575;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}
